* {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
ul li {
  position: relative;
}
.bar {
  background-color: #eee;
  width: 600px;
  height: 40px;
  margin: 0 auto;
}
.bar ul li {
  float: left;
  line-height: 40px;
  text-align: center;
}
.bar ul li:hover ul {
  display: block;
}
.bar ul li a {
  display: block;
  width: 90px;
  padding: 0 10px;
}
.bar ul li a:hover {
  color: white;
  background-color: #666;
}
.bar ul li ul {
  position: absolute;
  left: 0px;
  top: 40px;
  display: none;
}
.bar ul li ul li {
  float: none;
  background-color: #eee;
  margin-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bar ul li ul li:hover {
  color: white;
  background-color: #666;
}
.bar ul li ul a:hover {
  background-color: #06f;
}
